.title {
    text-decoration: underline;
    color: #0062cc;
}

.activeProduct {
    color: green;
}

.inactiveProduct {
    color: red;
}

.inner {
    display: inline-block;
}

.svgPopover {
    margin-top: 5px;
}

.formFrame {
    background-color: white;
    border-radius: 5px;
}
