/*
    General start
 */
.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 6rem;
}

.mt-9 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 8rem;
}
/*
    General end
 */


.imageBorder {
    border: solid 1px black;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.gradientLeftSide {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    /* fallback for old browsers */
    background: #30cfd0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(48,207,208,0.5), rgba(51,8,103,0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(48,207,208,0.5), rgba(51,8,103,0.5));
}

.gradientLeftSideWarning {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background: rgb(0,0,0);

    background: linear-gradient(to bottom right, rgba(0,0,0,1) 0%, rgba(209,16,16,1) 100%);
}

table td svg {
    position: relative;
    bottom: -3px;
}
