.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.nav-link svg {
    display: inline-block;
    vertical-align: middle;
}

.navbarButton {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
    text-underline-offset: 10px;
}

.navbarButton:hover {
    border-bottom: 2px solid currentColor;
    cursor: pointer;
}

.sideMenuItem {
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenuItem:hover {
    color: black;
}

.navbarImage {
    height: 64px;
    width: 64px;
}

.userMenuItem:active {
    color: black;
    background-color: transparent;
}

.productShowCard {
    border: none;
    align-items: center;
}

.sideMenuItemSmall {
    margin-top: 15px;
    font-size: 20px;
    color: black;
    background-color: transparent;
}

.sideMenuItemSmall:hover {
    color: black;
}
